@import url("./components/index-components.css");
@import url("./layout/index-layout.css");
@import url("./page/index-page.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  /* PRIMITIVES */
  --gray-25: #FCFCFD;
  --gray-50: #f9f9fb;
  --gray-100: #eff1f5;
  --gray-200: #dcdfea;
  --gray-300: #b9c0d4;
  --gray-400: #7d89b0;
  --gray-500: #5d6b98;
  --gray-600: #4a5578;
  --gray-700: #404968;
  --gray-800: #30374f;
  --gray-900: #111322;
  --gray-950: #0e101b;
    
  --brand-50: #f9ecd4;
  --brand-100: #f7e5c6;
  --brand-200: #f5dfb7;
  --brand-500: #efcb8c;
  --brand-600: #d1b27b;
  --brand-700: #b07f27;
  --brand-800: #957f58;
  --brand-900: #776646;
  
  --error-50: #fef3f2;
  --error-100: #fee4e2;
  --error-300: #fda29b;
  --error-500: #f97066;
  --error-600: #d92d20;
  
  --warning-50: #fffaeb;
  --warning-100: #fef0c7;
  --warning-300: #fec84b;
  --warning-500: #fd8022;
  --warning-600: #dc6803;
  
  --success-50: #ecfdf3;
  --success-100: #dcfae6;
  --success-300: #75e0a7;
  --success-500: #17b26a;
  --success-600: #079455;

  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 14px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-32: 128px;
  --spacing-40: 160px;
  --spacing-48: 192px;
  --spacing-56: 224px;
  --spacing-64: 256px;
  --spacing-80: 320px;
  --spacing-96: 384px;
  --spacing-120: 480px;
  --spacing-140: 560px;
  --spacing-160: 640px;
  --spacing-180: 720px;
  --spacing-192: 768px;
  --spacing-256: 1024px;
  --spacing-320: 1280px;
  --spacing-360: 1440px;
  --spacing-400: 1600px;
  --spacing-480: 1920px;

  /* COLORS */
  --text-primary: var(--gray-900);
  --text-primary_on-brand: #ffffff;
  --text-secondary: var(--gray-700);
  --text-secondary_hover: var(--gray-800);
  --text-secondary_on-brand: var(--brand-200);
  --text-tertiary: var(--gray-600);
  --text-tertiary_hover: var(--gray-700);
  --text-tertiary_on-brand: var(--gray-200);
  --text-quaternary: var(--gray-500);
  --text-quaternary_hover: var(--gray-300);
  --text-white: #ffffff;
  --text-disabled: var(--gray-500);
  --text-placeholder: var(--gray-500);
  --text-placeholder_subtle: var(--gray-300);
  --text-brand-primary: var(--brand-900);
  --text-brand-secondary: var(--brand-700);
  --text-brand-tertiary: var(--brand-800);
  --text-error-primary: var(--error-600);
  --text-warning-primary: var(--warning-600);
  --text-success-primary: var(--success-600);

  --border-primary: var(--gray-300);
  --border-secondary: var(--gray-200);
  --border-secondary_alt: rgba(0,0,0,0.08);
  --border-tertiary: var(--gray-100);
  --border-disabled: var(--gray-300);
  --border-disabled_subtle: var(--gray-200);
  --border-brand: var(--brand-500);
  --border-brand_alt: var(--brand-600);
  --border-error: var(--error-500);
  --border-error_subtle: var(--error-300);
  --border-warning: var(--warning-500);
  --border-warning_subtle: var(--warning-300);
  --border-success: var(--success-500);
  --border-success_subtle: var(--success-300);

  --fg-primary: var(--gray-900);
  --fg-secondary: var(--gray-700);
  --fg-secondary_hover: var(--gray-800);
  --fg-tertiary: var(--gray-600);
  --fg-tertiary_hover: var(--gray-700);
  --fg-quaternary: var(--gray-400);
  --fg-quaternary_hover: var(--gray-500);
  --fg-white: #ffffff;
  --fg-disabled: var(--gray-400);
  --fg-disabled_subtle: var(--gray-300);
  --fg-brand-primary: var(--brand-600);
  --fg-brand-primary_alt: var(--brand-600);
  --fg-brand-secondary: var(--brand-500);
  --fg-brand-secondary_alt: var(--brand-500);
  --fg-error-primary: var(--error-600);
  --fg-error-secondary: var(--error-500);
  --fg-warning-primary: var(--warning-600);
  --fg-warning-secondary: var(--warning-500);
  --fg-success-primary: var(--success-600);
  --fg-success-secondary: var(--success-500);

  --bg-primary: #ffffff;
  --bg-primary_hover: var(--gray-50);
  --bg-primary_alt: var(--gray-400);
  --bg-secondary: var(--gray-50);
  --bg-secondary_hover: var(--gray-100);
  --bg-tertiary: var(--gray-100);
  --bg-quaternary: var(--gray-200);
  --bg-active: var(--gray-50);
  --bg-disabled: var(--gray-100);
  --bg-disabled_subtle: var(--gray-50);
  --bg-overlay: var(--gray-950);
  --bg-brand-primary: var(--brand-50);
  --bg-brand-secondary: var(--brand-100);
  --bg-brand-section: var(--brand-800);
  --bg-brand-section_subtle: var(--brand-700);
  --bg-error-primary: var(--error-50);
  --bg-error-secondary: var(--error-100);
  --bg-warning-primary: var(--warning-50);
  --bg-warning-secondary: var(--warning-100);
  --bg-success-primary: var(--success-50);
  --bg-success-secondary: var(--success-100);

  /* SHADOWS */
  --shadows-xs: #0A0D1203;
  --shadows-sm: #0A0D1204;
  --shadows-md: #0A0D1205;
  --shadows-lg: #0A0D1206;
  --shadows-xl: #0A0D1208;
  --shadows-2xl: #0A0D1210;
  --shadows-3xl: #0A0D1214;
  --shadows-4xl: #0A0D1218;

  /* RADIUS */
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-full: 9999999999999999999rem;

  /* SPACING */
  --spacing-none: 0;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 32px;
  --spacing-5xl: 40px;
  --spacing-6xl: 48px;
  --spacing-7xl: 64px;
  --spacing-8xl: 80px;
  --spacing-9xl: 96px;
  --spacing-10xl: 128px;
  --spacing-11xl: 160px;

  /* WIDTH */
  --width-xss: 320px;
  --width-xs: 380px;
  --width-sm: 480px;
  --width-md: 560px;
  --width-lg: 640px;
  --width-xl: 768px;
  --width-2xl: 1024px;
  --width-3xl: 1280px;
  --width-4xl: 1440px;
  --width-5xl: 1600px;
  --width-6xl: 1920px;

  --container-padding: 32px;
  --container-max-width: 1280px;

  --paragraph-max-width: 720px;

  --bg-secondary-brand: linear-gradient(160deg, var(--gray-900) 20%, var(--gray-700) 75%, var(--gray-800) 90%);
}

@media (max-width: 600px) {
  :root{
    --container-padding: 16px;
  }
}

/* FONT */
.display-2xl{
  font-size: calc(4.5rem + 0.1vw);
  line-height: calc(5.625rem + 0.1vw);
  letter-spacing: -2%;
}

.display-xl{
  font-size: calc(3.75rem + 0.1vw);
  line-height: calc(4.5rem + 0.1vw);
  letter-spacing: -2%;
}

.display-lg{
  font-size: calc(3rem + 0.1vw);
  line-height: calc(3.75rem + 0.1vw);
  letter-spacing: -2%;
}

.display-md{
  font-size: 2.25em;
  line-height: calc(2.75rem + 0.1vw);
  letter-spacing: -2%;
}

.display-sm{
  font-size: calc(1.875rem + 0.1vw);
  line-height: calc(2.375rem + 0.1vw);
}

.display-xs{
  font-size: calc(1.5rem + 0.1vw);
  line-height: calc(2rem + 0.1vw);
}

.text-xl{
  font-size: calc(1.25rem + 0.1vw);
  line-height: calc(1.875rem + 0.1vw);
}

.text-md{
  font-size: calc(1rem + 0.1vw);
  line-height: calc(1.5rem + 0.1vw);
}

.text-sm{
  font-size: calc(0.875rem + 0.1vw);
  line-height: calc(1.25rem + 0.1vw);
}

.text-xs{
  font-size: calc(0.75rem + 0.1vw);
  line-height: calc(1.125rem + 0.1vw);
}

/* SHADOWS */
.shadows-xs{
 box-shadow: 0 1px 2px var(--shadows-md);
}

.shadows-sm{
  box-shadow: 0 1px 2px -1px var(--shadows-2xl), 0 1px 3px var(--shadows-2xl);
}

.shadows-md{
  box-shadow: 0 2px 4px -2px var(--shadows-2xl), 0 4px 6px -1px var(--shadows-2xl);
}

.shadows-lg{
  box-shadow: 0 12px 16px -4px var(--shadows-xl), 0 2px 2px -1px var(--shadows-sm), 0 4px 6px -2px var(--shadows-xs);
}

.shadows-xl{
  box-shadow: 0 20px 24px -4px var(--shadows-xl), 0 3px 3px -1.5px var(--shadows-sm), 0 8px 8px -4px var(--shadows-xs);
}

.shadows-2xl{
  box-shadow: 0 4px 4px -2px var(--shadows-sm), 0 24px 48px -12px var(--shadows-4xl);
}

/* FOCUS RINGS */
.focus-ring{
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--border-brand);
}

.focus-ring-error{
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--border-error);
}

.focus-ring-shadows-xs{
  box-shadow: 0 1px 2px var(--shadows-md), 0 0 0 2px #ffffff, 0 0 0 4px var(--border-brand);
}

.focus-ring-error-shadows-xs{
  box-shadow: 0 1px 2px var(--shadows-md), 0 0 0 2px #ffffff, 0 0 0 4px var(--border-error);
}

.focus-ring-shadows-sm{
  box-shadow: 0 1px 3px var(--shadows-2xl), 0 1px 2px -1px var(--shadows-2xl), 0 0 0 2px #ffffff, 0 0 0 4px var(--border-brand);
}

.focus-ring-error-shadows-sm{
  box-shadow: 0 1px 3px var(--shadows-2xl), 0 1px 2px -1px var(--shadows-2xl), 0 0 0 2px #ffffff, 0 0 0 4px var(--border-error);
}

.focus-ring-error-shadow-xs-skeumorphic{
  box-shadow: 0 0 0 1px var(--shadows-4xl) inset, 0 -2px var(--shadows-md), 0 1px 2px var(--shadows-md), 0 0 0 2.5px var(--border-error), 0 0 0 2px #fff;
}

.focus-ring-shadow-xs-skeumorphic{
  box-shadow: 0 0 0 1px var(--shadows-4xl) inset, 0 -2px var(--shadows-md), 0 1px 2px var(--shadows-md), 0 0 0 2.5px var(--border-brand), 0 0 0 2px #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

.textBrandPrimaryColor, .text-brand-primary{
  color: var(--text-brand-primary)!important;
}

.textBrandSecondaryColor{
  color: var(--text-brand-secondary)!important;
}

.mediumText, .medium-text{
  font-weight: 500;
}

.center-text,
.centerText{
  text-align: center;
}

.rotateIcon0 svg, .rotate-icon-180 svg, .rotateIcon90 svg, .rotateIcon270 svg{
  transition: all 0.5S ease;
}

.rotateIcon90 svg{
  transform: rotate(-90deg);
}

.rotate-icon-180 svg{
  transform: rotate(180deg);
}

.rotateIcon270 svg{
  transform: rotate(90deg);
}

/* === Logo bloc === */
#logo-bloc{
  padding: var(--spacing-3xl) var(--spacing-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img{
  width: calc(var(--spacing-10) + 1vw);
}
#logo-bloc .button-content{
  display: flex;
  align-items: center;
}
#logo-bloc .button-content a:first-child{
  margin-right: var(--spacing-md);
}